//Animation for showing elements with *ngIf when displayed
.ngIfAnim {
    -webkit-animation: scale-up-center 0.35s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.35s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            
}

 @-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
  }

  .loadImageButt{
      margin-left: calc(100% - 100px);
      margin-bottom: 20px;
  }
  
  

//Other styles are in the global.scss
