<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1" color="light"></ion-back-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="this.updateRecipe()" color="warning" fill="solid" shape="round">
        Go
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Update Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <!-- Recipe Image -->
    <ion-item class="customInput" lines="none" color="tertiary">
      <ion-label color="dark" position="floating">Recipe Image</ion-label>
      <ion-input [(ngModel)]="this.image" color="dark" required="true"></ion-input>
      <img class="customInput" src="{{ this.image }}" alt="">
      <br *ngIf="(this.image)">
    </ion-item>

    <div class="space"></div>

     <!-- Recipe Name -->
     <ion-item class="customInput" lines="none" color="tertiary">
      <ion-label color="dark" position="floating">Recipe Name</ion-label>
      <ion-input [(ngModel)]="this.name" color="dark" required="true"></ion-input> 
    </ion-item>

    <div class="space"></div>

    <!-- Plant Based -->
    <ion-item class="customInput" lines="none" color="tertiary">
      <ion-label>Is Plant Based?</ion-label>
      <ion-select [(ngModel)]="this.plantBased" value=0 okText="Select" cancelText="Dismiss">
        <ion-select-option value=0>No</ion-select-option>
        <ion-select-option value=1>Vegetarian</ion-select-option>
        <ion-select-option value=2>Vegan</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="space"></div>

    <!-- Done Before? -->
    <ion-item class="customInput" lines="none" color="tertiary">
      <ion-label> Have you ever done it?</ion-label>
      <ion-toggle [(ngModel)]="this.doneBefore" color="dark"></ion-toggle>
    </ion-item>

    <div class="space"></div>

    <!-- How many times done before? -->
    <ion-item *ngIf="this.doneBefore == true" class="customInput ngIfAnim" lines="none" color="tertiary">
      <ion-label color="dark" position="floating">Times done before</ion-label>
      <ion-input [(ngModel)]="this.timesDone" type="number" value="333" color="dark" required="true"></ion-input>
    </ion-item>

    <div *ngIf="this.doneBefore == true" class="space"></div>

    <!-- Know how long takes? -->
    <ion-item class="customInput" lines="none" color="tertiary">
      <ion-label> Do you know how long it takes?</ion-label>
      <ion-toggle [(ngModel)]="this.knowsTime" color="dark"></ion-toggle>
    </ion-item>

    <div class="space"></div>

    <!-- How long it takes? -->
    <ion-item *ngIf="this.knowsTime == true" class="customInput ngIfAnim" lines="none" color="tertiary">
      <ion-label color="dark" position="floating">How much time? (in minutes)</ion-label>
      <ion-input [(ngModel)]="this.estimatedTime" type="number" value="333" color="dark" required="true"></ion-input>
    </ion-item>

    <div *ngIf="this.knowsTime == true" class="space"></div>

    <!-- Know the difficulty? -->
    <ion-item class="customInput" lines="none" color="tertiary">
      <ion-label> Do you know the difficulty?</ion-label>
      <ion-toggle [(ngModel)]="this.knowsDifficulty" color="dark"></ion-toggle>
    </ion-item>

    <div class="space"></div>

    <!-- How difficult? -->
    <ion-item *ngIf="this.knowsDifficulty == true" class="customInput ngIfAnim" lines="none" color="tertiary">
      <ion-label color="dark" position="floating">How difficult?</ion-label>
      <ion-select [(ngModel)]="this.difficulty" value=0 okText="Select" cancelText="Dismiss">
        <ion-select-option value=0>Easy</ion-select-option>
        <ion-select-option value=1>Normal</ion-select-option>
        <ion-select-option value=2>Hard</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngIf="this.knowsDifficulty == true" class="space"></div>

    <!-- Recipe Content -->
    <ion-item class="customInput" lines="none" color="tertiary">
      <ion-label>Recipe</ion-label>
      <ion-textarea [(ngModel)]="this.content" rows="48" placeholder="Enter the recipe here..."></ion-textarea>
    </ion-item>
  
</ion-content>
