body {
    background-color: #8C847D;
}

ion-card {
    border-radius: 15px;

}

.cardIcon {
    width: 20px;
    height: 20px;
}

.veggieIcon {
    margin-bottom: -3px;
}

.cardTitle {
    text-align: center;
    margin-top: -24px;
}

.cardImage {
    border-radius: 10px;
}

ion-col .bottomIcons {
    text-align: center;
}

.timeIcon {
    width: 22px;
    height: 22px;
}

.doneIcon {
    width: 23px;
    height: 23px;
}


.buttonWithIcon {
    --border-radius: 20px;
}


.happy {
    margin-top: 20vh;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.happyText {
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}